<p id="notice"><%= notice %></p>

<p>
  <h1><%= @structure.title %></h1>
</p>

<p>
  <strong>Address:</strong>
  <%= @structure.address %>
</p>
<h3>Liste des engagements associés</h3>

<%= render partial: "engagement_table", locals: {concerts: @structure.engagements} %>


<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
