<p id="notice"><%= notice %></p>

<h1>Artistes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Birthdate</th>
      <th>Passportnumber</th>
      <th>Passportdelivered</th>
      <th>Passportexpire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artistes.each do |artiste| %>
      <tr>
        <td><%= artiste.name %></td>
        <td><%= artiste.address %></td>
        <td><%= artiste.birthdate %></td>
        <td><%= artiste.passportnumber %></td>
        <td><%= artiste.passportdelivered %></td>
        <td><%= artiste.passportexpire %></td>
        <td><%= link_to 'Show', artiste %></td>
        <td><%= link_to 'Edit', edit_artiste_path(artiste) %></td>
        <td><%= link_to 'Destroy', artiste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artiste', new_artiste_path, class: 'btn amber darken-3' %>
