<p id="notice"><%= notice %></p>

<h1>Artistes</h1>
<ul class="collection">
    <% @artistes.each do |artiste| %>
    
    <li class="collection-item avatar">
      <% if artiste.image.present? %>
      <img src="<%= artiste.image_url(:micro) %>" alt="" class="circle">
      <% else %>
      <i class="material-icons circle">person</i>
      <% end %>
      <span class="title"><a href="<%= artiste_path(artiste) %>"><%= artiste.name %></a></span>
      <p><%= artiste.instrument %></p>
      <a href="<%= artiste_path(artiste) %>" class="secondary-content"><i class="material-icons">remove_red_eye</i></a>
    </li>
  


    <% end %>
  </ul>
<br>

<%= link_to "Ajouter Un Artiste", new_artiste_path, class: "btn amber darken-3" %>
