<p id="notice"><%= notice %></p>
<div class="field">
     <p
    data-controller="inline-edit"
    data-inline-edit-model="artiste"
    data-inline-edit-name="name"
    data-inline-edit-input-class="input"
    data-target="inline-edit.source"
    data-action="click->inline-edit#toggle click@window->inline-edit#close"
   >
    <%= @artiste.name %>
  
</p>
</div>
<hr>
<p>
   <strong>Address:</strong>
   <%= @artiste.address %>
</p>
<p>
   <strong>Birthdate:</strong>
   <%= @artiste.birthdate %>
</p>
<p>
   <strong>Passportnumber:</strong>
   <%= @artiste.passportnumber %>
</p>
<p>
   <strong>Passportdelivered:</strong>
   <%= @artiste.passportdelivered %>
</p>
<p>
   <strong>Passportexpire:</strong>
   <%= @artiste.passportexpire %>
</p>
<%= link_to '<i class="material-icons">print</i>Imprimer'.html_safe, artiste_path + "/printfiche", class: "btn amber darken-3" %>
<!--< @artistesengagements.inspect.each do |engagement|   %>-->
<hr>

<h3>Engagements</h3>
<ul class="collapsible">
   <li>
      <div class="collapsible-header"><i class="material-icons">next_week</i><%= @futursengagements.size %> Futurs Engagements</div>
      <div class="collapsible-body">
         <%= render partial: "engagement_table", locals: {concerts: @futursengagements} %>
        
         
           
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">history</i><%= @pastengagements.size %> Engagements Passés</div>
      <div class="collapsible-body">
         <%= render partial: "engagement_table", locals: {concerts: @pastengagements} %>
        
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">insert_invitation</i><%= @optionengagements.size %> Options à confirmer</div>
      <div class="collapsible-body">
        <%= render partial: "engagement_table", locals: {concerts: @optionengagements} %>
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">hourglass_empty</i><%= @pendinginvitations.size %> Invitations en attente </div>
      <div class="collapsible-body">
        <%= render partial: "engagement_table", locals: {concerts: @pendinginvitations} %>
      </div>
   </li>
</ul>
<br>
<hr>
<h3>Programmes</h3>
<%= link_to '<div class="btn blue lighten-1"><i class="material-icons ">edit</i> Editer</div>'.html_safe, edit_artiste_path(@artiste) %> 
<%= link_to '<div class="btn amber lighten-1"><i class="material-icons ">arrow_back</i> Retour</div>'.html_safe, artistes_path %>