<div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img height=280 class="activator" src="<%= image_url('material-background.png')%>" alt="user background">                    
                </div>
                <style>
                   #profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}
                </style>
                
                <figure class="card-profile-image">
                    <img src="<%= @artiste.image_url(:medium) %>" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </figure>
                <div class="card-content">
                  <div class="row">                    
                    <div class="col s3 offset-s2">                        
                        <h4 class="card-title grey-text text-darken-4"><%= @artiste.name %></h4>
                        <p class="medium-small grey-text"><%= @artiste.instrument %></p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">10+</h4>
                        <p class="medium-small grey-text">Work Experience</p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">6</h4>
                        <p class="medium-small grey-text">Completed Projects</p>                        
                    </div>                    
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                        <p class="medium-small grey-text">Busness Profit</p>                        
                    </div>                    
                    <div class="col s1 right-align">
                      <a class="btn-floating activator waves-effect waves-light darken-2 right">
                          <i class="material-icons">edit</i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-reveal">
                    <p>
                      <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
                      <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</span>
                    </p>

                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    
                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                    <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                </div>
            </div>



<p id="notice"><%= notice %></p>

<div class="field">
   <h1><%= @artiste.name %></h1>
   <!--  <p
    data-controller="inline-edit"
    data-inline-edit-model="artiste"
    data-inline-edit-name="name"
    data-inline-edit-input-class="input"
    data-target="inline-edit.source"
    data-action="click->inline-edit#toggle click@window->inline-edit#close"
   >
    <%#= @artiste.name %>
  
</p>-->
</div>
<hr>
<div class="editable-group">
<p>
   <strong>Instrument:</strong>
   <span data-controller="inline-edit"
    data-inline-edit-model="artiste"
    data-inline-edit-name="instrument"
    data-inline-edit-input-class="input"
    data-target="inline-edit.source"
    data-action="click->inline-edit#toggle click@window->inline-edit#close"
    class="editable"><%= @artiste.instrument %></span>
</p>
<p>
   <strong>Adresse :</strong>
   <%= @artiste.address %>
</p>
</div>
<hr>
<p>
   <strong>Date de naissance :</strong>
   <%= @artiste.birthdate %>
</p>
<p>
   <strong>Ville de naissance :</strong>
   <%= @artiste.birthplacecity %>
</p>
<p>
   <strong>Département de naissance :</strong>
   <%= @artiste.birthplacedepartment %>
</p>
<p><strong>Pays de naissance :</strong>
   <%= @artiste.birthplacecountry %>
</p>
<p><strong>Nationalité :</strong>
<%= @artiste.nationality %>
</p>
<hr>
<p><strong>Situation familiale :</strong>
<%= @artiste.familystatus %>
</p>
<p><strong>No de Sécurité Sociale: </strong>
<%= @artiste.socialsecurity %>
</p>
<p><strong>No de Congés Spectacles</strong>
<%= @artiste.congesspectacles %>
</p>
<p><strong>No Audiens</strong>
<%= @artiste.audiens %>
</p>
<p><strong>Fidélité Compagnie aérienne</strong>
<%= @artiste.flightcompany %>
</p>
<hr>
<p>
   <strong>Passportnumber:</strong>
   <%= @artiste.passportnumber %>
</p>
<p>
   <strong>Passportdelivered:</strong>
   <%= @artiste.passportdelivered %>
</p>
<p>
   <strong>Passportexpire:</strong>
   <%= @artiste.passportexpire %>
</p>
<%= link_to '<i class="material-icons">print</i>Imprimer'.html_safe, artiste_path + "/printfiche", class: "btn amber darken-3" %>
<!--< @artistesengagements.inspect.each do |engagement|   %>-->
<hr>

<h3>Engagements</h3>
<ul class="collapsible">
   <li>
      <div class="collapsible-header"><i class="material-icons">next_week</i><%= @futursengagements.size %> Futurs Engagements</div>
      <div class="collapsible-body">
         <%= render partial: "engagement_table", locals: {concerts: @futursengagements} %>
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">history</i><%= @pastengagements.size %> Engagements Passés</div>
      <div class="collapsible-body">
         <%= render partial: "engagement_table", locals: {concerts: @pastengagements} %>
        
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">insert_invitation</i><%= @optionengagements.size %> Options à confirmer</div>
      <div class="collapsible-body">
        <%= render partial: "engagement_table", locals: {concerts: @optionengagements} %>
      </div>
   </li>
   <li>
      <div class="collapsible-header"><i class="material-icons">hourglass_empty</i><%= @pendinginvitations.size %> Invitations en attente </div>
      <div class="collapsible-body">
        <%= render partial: "engagement_table", locals: {concerts: @pendinginvitations} %>
      </div>
   </li>
</ul>
<br>
<hr>
<h3>Programmes</h3>
<%= link_to '<div class="btn blue lighten-1"><i class="material-icons ">edit</i> Editer</div>'.html_safe, edit_artiste_path(@artiste) %> 
<%= link_to '<div class="btn amber lighten-1"><i class="material-icons ">arrow_back</i> Retour</div>'.html_safe, artistes_path %>