<style>

.container {
    width: 100%!important; 
}
<% @artistes.each do |artiste| %>
.<%= artiste.name.parameterize %>[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #607d8b;  
    background-color: <%= artiste.color %>!important;
}
<% end %>
</style>
<div class="row">
<div class="events-filter-checkbox col s2">
      <ul>
        <li>
          <label>
            <input type="checkbox" id="checkAll"/>
            <span>Check all</span>
          </label>
        </li>
<% @artistes.each do |artiste| %>
    <li>
        <label>
          <input type="checkbox" class="<%= artiste.name.parameterize %> filled-in" checked />
            <span><%= artiste.name %></span>
        </label>
    </li>
<% end %>
</ul>
</div>

<div id="calendar" class="col s10"></div>

</div>
<div id="modalEngagements" class="modal">Test Modal box</div>
<script>
$("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
});

$(".eventtype").change(function() {

    if ($(this).val() == "Concert") {
      console.log('concert triggered');
      $(this).parent().siblings().children( ".eventend" ).hide();
    };
    // else if ($('#acc_type').val() == "savings") {rate = "0.8%";}
    // $('#interest').val(rate);
});

  $('#calendar').fullCalendar({
  //var calendar = $(this);
	schedulerLicenseKey : 'GPL-My-Project-Is-Open-Source',
	editable : true,
	selectable : true,
	selectHelper : true,
	displayEventTime: false,
	header: {
	  left: 'prev,next today',
	  center: 'title',
	  right: 'month, agendaWeek, agendaDay'
	},
	scrollTime : '00:00',
	events : '/engagements/search',
	select: function(start, end){
	  var mystart = new Date(start);
	  var myend = new Date(end);
	  // myend = myend.setDate(myend.getDate() - 1); 
	  $.getScript('/engagements/new', function(){
	    //console.log(moment(start).format("DD/MM/YYYY"));
	    //console.log(moment(start).format("DD/MM/YYYY"));
	    const ff = flatpickr("#firstfield", {
        mode: 'multiple'
      });
      const sf = flatpickr("#secondfield", {
        mode: 'multiple'
      });
      console.log(mystart);
      console.log(myend);
	    ff.setDate(mystart);
	    sf.setDate(myend);
	    
	  });
	  //calendar.fullCalendar('unselect')
	},
	
  eventRender: function(event, element) {
            // Array that will store accepted classes
            var eventAcceptedClasses = [];
            <% @artistes.each do |artiste| %>
           if ($('.<%= artiste.name.parameterize %>').is(':checked')){
                eventAcceptedClasses.push('<%= artiste.name.parameterize %>');
            }
            <% end %>
            displayEvent = false;
            event.className.forEach(function(element){
                if ($.inArray(element, eventAcceptedClasses) != -1){
                    displayEvent = true;
                }
            });
            return displayEvent;
        }
});
$('.events-filter-checkbox').on('change', function(){
    $('#calendar').fullCalendar('rerenderEvents');
});
</script>