 <div class='nested-fields row'>
    <div class="input-field field">
      <%#= f.label :eventtype %>
      <%= f.select :eventtype, [['Répétitions', 'Rehearsals'], ['Avion','Flight'],['Train', 'Train']] ,{}, { :class => 'browser-default', :id => 'eventtype' } %>
      <%#= f.text_field :eventtype, class: 'eventtype-autocomplete' %>

    </div>
    <div class="field col s12">
      <%#= f.label :eventdate  %>
      <%= f.date_field :eventdate %>
    </div>
    <div class="field col s6">
      <%= f.label :eventbegin  %>
      <%= f.time_field :eventbegin %>
    </div>
    <div class="field col s6">
      <%= f.label :eventend %>
      <%= f.time_field :eventend %>
    </div>
    <div class="field col s6">
      <%= f.label :description1 , id: 'description1' %>
      <%= f.text_area :description1 %>
    </div>
    <div class="field col s6">
      <%= f.label :description2 , id: 'description2' %>
      <%= f.text_area :description2 %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_area :location %>
    </div>

    <%= link_to_remove_association "remove task", f %>
  </div>