

<tr class="nested-fields">

  <td><%= event.eventtype %></td>
  <td><%= event.eventbegin %></td>
  <td><%= event.eventend %></td>
  <td><%= event.description1 %></td>
  <td><%= event.description2 %></td>
  <td><%= event.location %></td>

</tr>
