<%= form_with(model: engagement, local: true) do |form| %>
  <% if engagement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engagement.errors.count, "error") %> prohibited this engagement from being saved:</h2>

      <ul>
        <% engagement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
    <div class="input-field">
    <%= form.collection_select :artiste_id, Artiste.all, :id, :name, { :class => "dropdown" } %>
  </div>
  <div class="input-field">
    <p>Statut de l'engagement</p>
      <%= form.select :status, [["Confirmé", "confirmed"], ["Invitation", "invitation"], ["Option", "option"]], {}, { :class => "browser-default", :id => "eventtype" } %>
      </div>
  <div class="input-field">
    <p>Type d'engagement</p>
      <%= form.select :category, [["Musique de Chambre", "chamber"], ["Solo Recital", "solorecital"], ["Duo Recital", "duorecital"], ["Avec Orchestre", "orchestra"]], {}, { :class => "browser-default", :id => "eventtype" } %>
      </div>
  <div class="field col s6">
    <%= form.label :begin %>
    <%= form.text_field :begin, class: "datepicker" %>
  </div>

  <div class="field col s6">
    <%= form.label :end %>
    <%= form.text_field :end, class: "datepicker" %>
  </div>
  <div class="row">
    <h3>Organisation</h3>
    <div id='tasks'>
    <%= form.fields_for :structures do |structure| %>
      <%= render 'structure_fields', :f => structure %>
    <% end %>
   
  <div class='links'>
<%= form.label :structure_ids %>
<%= form.collection_select(:structure_ids, Structure.all, :id, :title, {}, {multiple: true} )%>
   <%= link_to_add_association 'add structure', form, :structures %>
  </div>
  </div>

          

  </div>
  <div class="row">
    <h3>To-do Liste</h3>
<div class="col s6">
  <div class="field">
    <label>
    <%= form.check_box :contract %>
    <span>Contract</span>
    </label>
  </div>
  <div class="field">
<label>
    <%= form.check_box :voyages %>
    <span>Voyages</span>
    </label>
  </div>
  <div class="field">
<label>
    <%= form.check_box :hotel %>
    <span>Hotel</span>
    </label>
  </div>
</div>
<div class="col s6">
  <div class="field">
       <label>
    <%= form.check_box(:taxi) %>
    <span>Taxi </span></label>
    
  </div>

  <div class="field">
     <label>
    <%= form.check_box(:sent) %>
<span>Sent </span>
</label>
  </div>
  <div class="field">
   <label>
    <%= form.check_box :rehearsals %>
     <span>Rehearsals</span>
     </label>
  </div>
</div>
</div>


  <div class="input-field">
    <%= form.collection_select :programme_id, Programme.all, :id, :title, { :class => "dropdown" } %>
  </div>
  <h3>Planning</h3>
  <div>
    <table>
      <thead>
      <th>Date</th>
      <th>Type</th>
      <th>Début</th>
      <th>Fin</th>
      <th>desc1</th>
      <th>desc2</th>
      <th>lieu</th>
      <th>remove</th>
      </thead>
      <tbody>
  
    <%= form.fields_for :events do |event| %>
      <%= render "event_fields", :f => event %>
    <% end %>
    <tr id="tasks"></tr>
    </tbody>
      </table>
    <%= link_to_add_association '<div class="btn">Add event</div>'.html_safe, form, :events, { 'data-association-insertion-method': "after", 'data-association-insertion-node': "tr:last" } %>
    
    <h3>Conditions</h3>
  </div>
  <div class="actions">
    <%= form.submit "Enregistrer", :class => "btn blue darken-2" %>
  </div>

</div>
<% end %>
