<%= form_with(model: engagement, local: true) do |form| %>
  <% if engagement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engagement.errors.count, "error") %> prohibited this engagement from being saved:</h2>
      <ul>
        <% engagement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-12 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><%= engagement.title %></h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                  <%= form.label :title %>
                                </div>
                                <div class="col-md-8 form-group">
                                  <%= form.text_field :title, { :class => "form-control"}  %>
                                </div>
                                <div class="col-md-4">
                                    <label>Artiste</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <div class="position-relative has-icon-left">
                                  <%= form.collection_select :artiste_id, Artiste.all, :id, :name, {}, {class: "form-control"} %>
                                    <div class="form-control-position">
                                      <i class="bx bx-user"></i>
                                    </div>
                                  </div>
                                </div>
                                  <div class="col-md-4">
                                    <label>Statut de l'engagement</label>
                                </div>
                                <div class="col-md-8 form-group">
                                 
        <%= form.select :status, [["Confirmé", "confirmed"], ["Invitation", "invitation"], ["Option", "option"]], {}, { :class => "form-control", :id => "eventtype" } %>
       </div>
      <div class="col-md-4">
        <p>Type d'engagement</p>
        </div>
        <div class="col-md-8 form-group">
        <%= form.select :category, [["Musique de Chambre", "chamber"], ["Solo Recital", "solorecital"], ["Duo Recital", "duorecital"], ["Avec Orchestre", "orchestra"]], {}, { :class => "form-control", :id => "eventtype" } %>
      </div>
      <div class="col-md-4">
        <%= form.label :startengagement, "Période d'engagement" %>
        </div>
        <div class="col-md-4">
        <%= form.text_field :startengagement, class: "flatpickr" %>
      </div>
        <div class="col-md-4">
        <%= form.text_field :endengagement, class: "datepicker", id: "secondfield" %>
      </div>
      <div class="col-md-12 divider">
        <span class="divider-text">Organisation</span>
        </div>
        <div class='links col-md-4'>
          <h3>Structures</h3>
          </div>
          
          <div class="input-field col-md-8">
            
            <div data-controller="choices" data-search-path="/structures/search?title=" data-reflex-root="#structures" data-remove-item-button="true" data-search-result-limit="20" data-add-Items="true" data-no-choices-text="Cherchez une structure..." data-should-sort-items="false" data-no-results-found="Aucun résultat" data-loading-text="Chargement..." data-item-Select-Text="Sélectionner" data-add-Item-text="Créer cet élément" data-placeholder="Sélectionner des structures">
              <select data-target="choices.select" type="select-one" id="mydemo2" data-reflex="change->EngagementReflex#update_structure" data-id="<%= engagement.id %>"></select>
              <datalist data-target="choices.options"></datalist>
            </div>
          </div>
     
      <%# link_to_add_association 'add structure', form, :structures %>
      <%#  %>
      <div id='structures' class="col-md-12">
        
          <%= form.fields_for :structures do |structure| %>
            <%= render 'structure_fields', :f => structure , engagementid: @engagement.id %>
          <% end %>
        
      </div>
      <hr>
      <div class="col-md-4">
      <h3>Contacts</h3>
      </div>
      <div class="col-md-8">
        <div data-controller="choices" id="mycontactselect" data-search-path="/contacts/search?title=" data-reflex-root="#contactlist" data-remove-item-button="true" data-search-result-limit="20" data-placeholder="Sélectionner un contact" data-no-Results-Text="<span onclick='addContactTrigger()'><i class='material-icons'>person_add</i> Créer un nouveau contact</span>" data-no-choices-text="Sélectionner un contact à ajouter...">
        <select class="form-control" data-id="<%= @engagement.id %>" data-reflex-root="#contactlist" data-reflex="change->EngagementReflex#add_contact" data-target="choices.select"  type="select-one" id="mydemo"  data-id="<%= @engagement.id%>"></select>
        <datalist data-target="choices.options"></datalist>
        <div id="modalContacts" class="modal">Modal box</div>
        <script>
          function addContactTrigger(){
              console.log('triggered');
             $.getScript('/contacts/new', function(){
          	  });
          }
          $('#addpartner').click(function(){
            console.log("deleted input field");
            $('#partnername')[0].value = '';
            $('#partnerinstrument')[0].value = '';
            })
          
        </script>
        </div>
      </div>
      <div id="contactlist" class="row">
          <% @engagement.contacts.each do |contact| %>
          <div class="card border-primary col-md-4">
            <div class="card-content">
              <div class="card-body">
                <h4 class="card-title"><%= contact.surname %> <%= contact.name %></h4>
                <p class="card-text">
                  Gummies bonbon apple pie fruitcake icing biscuit
                </p>
              </div>
              
            </div>
            <div class="card-footer d-flex justify-content-between">
              
              <button class="btn btn-light-primary">Read More</button>
              <a href="<%= contact_url(contact) %>">Voir</a>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-12 divider">
        <span class="divider-text">To-do Liste</span>
        </div>
   
    <div class="col-md-12" id="checkboxsection">
      <div class="col-md-4">
          <h3>To-do Liste</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="field checkbox checkbox-success">
                <%= form.check_box :contract , data: { reflex: "click->EngagementReflex#toggle_contract", "reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow"  %>
               <%= form.label :contract %>
              </label>
            </div>
            <br>
            <div class="checkbox checkbox-success">
              <%= check_box("engagement", "voyages", data: { reflex: "click->EngagementReflex#toggle_voyages","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow" ) %>
                <%#= form.check_box :voyages, data: { reflex: "click->EngagementReflex#toggle_voyages","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow", checked: :voyages  %>
              <%= form.label :voyages %> 
              </label>
            </div>
            <br>
            <div class="checkbox checkbox-success">
                <%= form.check_box :hotel, data: { reflex: "click->EngagementReflex#toggle_hotel","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow"  %>
                <%= form.label :hotel %>
              </label>
            </div>
          </div>
            <br>
          <div class="col-md-6">
            <div class="checkbox checkbox-success">
                <%= form.check_box :taxi, data: { reflex: "click->EngagementReflex#toggle_taxi","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow" %>
             <%= form.label :taxi %>
            </div>
            <br><div class="checkbox checkbox-success">
                <%= form.check_box :sent, data: { reflex: "click->EngagementReflex#toggle_sent","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow" %>
             <%= form.label :sent %>
            </div>
            <br>
            <div class="checkbox checkbox-success">
                <%= form.check_box :rehearsals, data: { reflex: "click->EngagementReflex#toggle_rehearsals","reflex-root": "#checkboxsection", id: engagement.id}, class: "checkbox checkbox-success checkbox-glow" %>
              
              <%= form.label :rehearsals %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 divider">
        <span class="divider-text">Artistique</span>
        </div>
        <div class="col-md-4">
        <h4>Programme</h4>
        </div>
        <div class="input-field col-md-8 form-group">
          <%= form.collection_select :programme_id, Programme.all, :id, :title,{}, { class: "form-control" } %>
        </div>
        <h4>Autres artistes</h4>
        
           <div class="input-field row">
    <div class="col-md-5">
      <input type="text" id="partnername" name="partnername" class="form-control" data-reflex-root="#partner" data-reflex="input->EngagementReflex#change_partner_name"><br>
      <label for="partnername">Nom</label>
    </div>
    <div class="col-md-5">
      <input type="text" id="partnerinstrument" class="form-control" name="partnerinstrument" data-reflex-root="#partner" data-reflex-permanent data-reflex="input->EngagementReflex#change_partner_instrument">
      <label for="partnerinstrument">Instrument</label><br>
    </div>
    <div class="col-md-2 valign-wrapper">
      <input type="submit" data-reflex="click->EngagementReflex#add_partner" id="addpartner" data-reflex-permanent data-reflex-root="#partner" class="btn" data-id="<%= @engagement.id %>" class="btn primary"></span>
    </div>
  </div>
        
          <div class="row">
          <ul class="list-group" id="partner">
            
            <% engagement.partners.each do |partner| %>
              <%# render "partner_fields", :f => partner %>
            <li class="list-group item"><%= partner.name %> <span class="secondary-content"><%= partner.instrument %>  <a href="#" data-engagementid="<%= engagement.id %>" data-partnerid="<%= partner.id %>" data-reflex="click->EngagementReflex#remove_partner"><i class="material-icons">clear</i></a></span></li>
            <% end %>
          </ul>
          <%# link_to_add_association '<div class="btn">Add partner</div>'.html_safe, form, :partners, { 'data-association-insertion-method': "after"} %>
        </div>
        

      </div>
    </div>
        <h3>Planning</h3>
        <div>
          <table>
            <thead>
              <th>Date</th>
              <th>Type</th>
              <th>Début</th>
              <th>Fin</th>
              <th>desc1</th>
              <th>desc2</th>
              <th>lieu</th>
              <th>remove</th>
            </thead>
            <tbody>
              <%= form.fields_for :events do |event| %>
                <%= render "event_fields", :f => event %>
              <% end %>
              <tr id="tasks"></tr>
            </tbody>
          </table>
          <%= link_to_add_association '<div class="btn">Add event</div>'.html_safe, form, :events, { 'data-association-insertion-method': "after", 'data-association-insertion-node': "tr:last" } %>
          <h3>Conditions</h3>
        </div>
        <div class="actions">
    <%= form.submit "Enregistrer", :class => "btn btn-light-primary" %>
  </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% end %>
