<%= form_with(model: @engagement, local: true) do |form| %>
  <div class="modal-content">
    <div class="row">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="input-field">
        <%= form.collection_select :artiste_id, Artiste.all, :id, :name, { :class => "dropdown" } %>
      </div>
      <div class="input-field">
        <p>Statut de l'engagement</p>
        <%= form.select :status, [["Confirmé", "confirmed"], ["Invitation", "invitation"], ["Option", "option"]], {}, { :class => "browser-default", :id => "eventtype" } %>
      </div>
           <div class="field col s6">
        <%= form.label :startengagement, "Début de l'engagement" %>
        <%= form.text_field :startengagement, class: "flatpickr", id: "firstfield" %>
      </div>
      <div class="field col s6">
        <%= form.label :endengagement, "Fin de l'engagement" %>
        <%= form.text_field :endengagement, class: "datepicker", id: "secondfield" %>
      </div>
      </div>
      <div class="actions">
        <%= form.submit "Enregistrer", :class => "btn blue darken-2" %>
      </div>
    </div>
  </div>
<% end %>
