


 <div class="col nested-fields s6 m6">
      <div class="card grey lighten-1">
        <div class="card-content white-text">
          <span class="card-title">
          <p>  <div class='nested-fields'>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div></span>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
  </div></p>
        </div>
        <div class="card-action">
        <%= link_to_remove_association '<i class="material-icons">clear</i> Remove'.html_safe, f %>
    
        </div>
      </div>
    </div>