<h1><%= @engagement.title %></h1>

<%= render 'form', engagement: @engagement %>

<%= link_to 'Show', @engagement %> |
<%= link_to 'Back', engagements_path %>

  <div class="infobox">
  Engagement créé le <%= @engagement.created_at %> et modifié pour la dernière fois le <%= @engagement.updated_at %>
  </div>
