<p id="notice"><%= notice %></p>
<h1>Engagements</h1>
<section id="basic-datatable">
  <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Zero configuration</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body card-dashboard">
                                        <p class="card-text">DataTables has most features enabled by default, so all you need to do to
                                            use it with your own tables is to call the construction function: $().DataTable();.</p>
                                        <div class="table-responsive">
<table class="table zero-configuration">
  <thead>
    <tr>
      <th><%= link_to "Titre", :sort => "title" %></th>
      <th><%= link_to "Début", :sort => "begin" %></th>
      <th><%= link_to "Fin", :sort => "end" %></th>
      <th><%= link_to "Contrat", :sort => "contract" %></th>
      <th><%= link_to "Voyages", :sort => "voyages" %></th>
      <th><%= link_to "Hotel", :sort => "hotel" %></th>
      <th><%= link_to "Transfert", :sort => "taxi" %></th>
      <th><%= link_to "Envoyé", :sort => "sent" %></th>
      <th><%= link_to "Répétitions", :sort => "rehearsals" %></th>
      <th><%= link_to "Artiste", :sort => "artiste" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @engagements.each do |engagement| %>
      <tr>
        <td><%= engagement.title %></td>
        <td><%= engagement.startengagement %></td>
        <td><%= engagement.endengagement %></td>
        <% if engagement.contract? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <% if engagement.voyages? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <% if engagement.hotel? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <% if engagement.taxi? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <% if engagement.sent? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <% if engagement.rehearsals? %>
          <td><i class='bx bx-check-circle'></i></td>
        <% else %>
          <td><i class='bx bx-x-circle'></i></td>
        <% end %>
        <td><%= engagement.artiste.name %></td>
        <!--<td><#%= link_to 'Show', engagement   %></td>-->
        <td><%= link_to '<i class="bx bx-edit"></i>'.html_safe, edit_engagement_path(engagement) %></td>
        <td><%= link_to '<i class="bx bx-trash"></i>'.html_safe, engagement, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "New Engagement", new_engagement_path, class: "btn amber darken-3" %>
</section>